.black_bg{
  background-color: #000;
  color: #fff;

  a{
    color: #fff;
  }
}
.almost_black_bg{
  background-color: #121212;
  color: #fff;

  a{
    color: #fff;
  }
}
.gray_bg{
  background-color: #141414;
}

.dark_bg{
  background-color: #060606;
}

@for $i from 0 through 50 {
  .voffset-xs-#{$i*5} { height: 5px * $i; }
}
@for $i from 0 through 50 {
  @media (min-width: 768px){
    .voffset-sm-#{$i*5} { height: 5px * $i; }
  }
}
@for $i from 0 through 50 {
  @media (min-width: 992px){
    .voffset-md-#{$i*5} { height: 5px * $i; }
  }
}
@for $i from 0 through 50 {
  @media (min-width: 1200px) {
    .voffset-lg-#{$i*5} { height: 5px * $i; }
  }
}

.page-wrapper{
  overflow-x: hidden;
}

.nomargin{
  margin: 0;
}
.nopadding{
  padding: 0;
}

.page-header {
    padding-bottom: 0px;
    margin: 0px;
    border-bottom: 0px;
}

.dtable{
  display: table;
  min-height: 100%;
  width: 100%;
}
.dtable-cell{
  display: table-cell;
  vertical-align: middle;
}

.img-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
  
img{
  max-width: 100%;
}

@media (min-width: 992px){
/* to make bootstrap columns equal height */
  .is-table-row {
	display: table;
	width: 100%;
  }
  .is-table-row>[class*='col-'] {
	  float: none;
	  display: table-cell;
	  vertical-align: top;
  }

	/* to make inside block fullheight */
	.is-table-row>[class*='col-'] {
		height: 100%;
	}
}
.vertical-middle{
  vertical-align: middle !important;
}

.video_container{
    // max-width: 640px;
    
  &.center{
      margin-left: auto;
      margin-right: auto;
  }
  &.left{
      margin-left: 0;
  }
  &.right{
      margin-left: auto;
  }
  
  .embed-container {
      position: relative; 
      padding-bottom: 56.25%; 
      height: 0; 
      overflow: hidden; 
      max-width: 100%; 
      height: auto; 
      
    iframe, 
    object, 
    embed {
        position: absolute;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        
        border-width: 0;
    }

  } 
}