.page-body{
  .pricing-hero{
    position: relative;
    background-color: #121212;

    .bg{
      height: 300px;
      background-image: url(../images/pricing-back.png);
      background-size: cover;
    }
    .prices{
      position: absolute;
      top: 110px;
      width: 100%;

      .title{
        font-size: 34px;
        line-height: 40px;
        color: #fff;
      }
      .description{
        font-size: 15px;
        line-height: 24px;
        color: #999;
        opacity: 1;
        max-width: 365px;
        margin: 0 auto;
      }

      [class*='col-']{
        .plan{
          height: 400px;
          width: 300px;
          max-width: 100%;
          padding: 35px 35px;

          .body{
            position: relative;
            height: 190px;
            border: 2px solid #D8D8D8;
            
            .plan-title-wrapper{
              position: absolute;
              top: -16px;
              width: 100%;
              text-align: center;

              .plan-title{
                display: inline-block;
                font-size: 14px;
                line-height: 30px;
                padding: 0 20px;
              }
            }

            .price-wrapper{
              display: inline-block;
              height: 125px;
              line-height: 125px;
              padding-top: 45px;

              &>*{
                display: inline-block;
                line-height: 100%;
                vertical-align: top;

                &.symbol{
                  font-size: 40px;
                  line-height: 100%;
                  padding-top: 15px;
                }
                &.price{
                  font-size: 100px;
                  line-height: 100%;
                }
                &.adition{
                  font-size: 125px;
                  line-height: 100%;
                  padding-top: 15px;
                  max-width: 45px;

                  .cents{
                    font-size: 34px;
                    height: 100%;
                    line-height: 100%; 
                  }
                  .info{
                    font-size: 10px;
                    line-height: 100%; 
                  }
                }
              }
            }
            .bottom{
              position: absolute;
              bottom: 10px;
              left: 0;
              width: 100%;
              font-size: 10px;
            }
          }
          .footer{
            font-size: 16px;
            line-height: 30px;

            img{
              margin-right: 20px;
            }
          }
        }

        &:first-child() .plan{
          background-color: #fff;
          margin: 0 auto 20px;
          color: #FF0079;
          
          .plan-title-wrapper{
            .plan-title{
              background-color: #fff;
            }
          }
        }
        &:last-child() .plan{
          background-color: #FF0079;
          margin: 0 auto;
          color: #fff;
          
          .plan-title-wrapper{
            .plan-title{
              background-color: #FF0079;
            }
          }
        }
      }
    }
    .btn-pink{
      font-size: 12px;
      text-transform: capitalize;
    }
  }
}

@media (min-width: 992px){
  .page-body{
    .pricing-hero{
      .bg{
        height: 490px;
      }
      .prices{
        top: 80px;

        .title{
          font-size: 44px;
          line-height: 52px;
        }
        .description{
          font-size: 22px;
          line-height: 32px;
          color: #fff;
          opacity: 0.87;
        }

        [class*='col-']{
          .plan{
            height: 475px;
            width: 375px;
            padding: 40px 45px;

            .body{
              height: 215px;
              
              .plan-title-wrapper{
                .plan-title{
                  font-size: 16px;
                  line-height: 30px;
                }
              }

              .price-wrapper{
                padding-top: 40px;

                &>*{
                  &.symbol{
                    font-size: 50px;
                    line-height: 100%;
                    padding-top: 15px;
                  }
                  &.price{
                    font-size: 125px;
                  }
                  &.adition{
                    font-size: 125px;
                    padding-top: 15px;
                    max-width: 45px;

                    .cents{
                      font-size: 34px;
                      height: 100%;
                    }
                    .info{
                      font-size: 10px;
                    }
                  }
                }
              }
              .bottom{
                bottom: 10px;
                font-size: 12px;
              }
            }
            .footer{
              font-size: 18px;
              line-height: 30px;

              img{
                margin-right: 20px;
              }
            }
          }

          &:first-child() .plan{
            margin: 0 12.5px 0 auto;
          }
          &:last-child() .plan{
            margin: 0 auto 0 12.5px;
          }
        }
      }
      .btn-pink{
        font-size: 12px;
      }
    }
  }
}