.page-body{
	.about-blog{
		.title{
			font-size: 36px;
			line-height: 45px;
			color: #fff;
			span{
				color: #FB0066;
			}
		}
		.description{
			font-size: 18px;
			line-height: 30px;
			color: #999;
		}
		.blog-arrow{
			width: 31px;
		    margin-left: 5px;
		}
		.wiew-blog{
			font-size: 18px;
			letter-spacing: 0.3px;
			color: #FF0079;
		}
		img{
    		height: auto;
    		padding: 3px;
    		padding-right: 5px;
		}
		.blog-text{
			line-height: 30px;
			font-size: 22px;
			color: #FFFFFF;
			text-align: left;
		}
		.blog-date{
			line-height: 24px;
			font-size: 15px;
			color: #999999;
			text-align: left;
		}
	}
}

.bg-blog{
	background-image: url(../images/dlog-bg.png);
	background-repeat: repeat-y;
	background-color: #060606;
}

@media (max-width: 990px){
	.about-blog{
	.title{
		text-align: center;
		}
	}
	.description{
		text-align: center;
	}
	.bg-blog{
		background-image: none;
		background-color: #141414
	}
}