.page-body{
	.about-assets{
		.img-logo{
			max-width: 440px;
		    .assets-text{
			    position: absolute;
				bottom: 3%;
		        margin-left: 3%;
				margin-right: auto;
			    z-index: 1;
			    text-align: left;
				font-size: 12px;
				color: #FB0066;
				.dow{
					max-width:	15px;;
					margin-bottom: 6%;
					margin-left: 5px;
				}
			}
		}
	}
}

.logo-left{
	text-align: -webkit-left;
}
.logo-right{
	text-align: -webkit-right;
}

@media (max-width: 990px){

.page-body{
	.about-assets{
		.img-logo{
			padding-bottom: 5px;
    		padding-top: 5px;
		}
	}
}

	.logo-left{
		text-align: -webkit-center;
	}
	.logo-right{
		text-align: -webkit-center;
	}
}