@media (max-width: 990px){
	.page-body{
		.about-image{
			.parent{
				position: relative;

				 .overlayer{
					position: absolute;
					left: 0;
					right: 5%;
					top: -12%;
					z-index: 1;
				} 
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}