.page-body{
	.about-team{
		.title{
			font-size: 36px;
			line-height: 45px;
			color: #fff;
			margin-left: 100px;

			span{
				color: #FB0066;
			}
		}
		.description{
			font-size: 18px;
			line-height: 30px;
			color: #999;
			margin-left: 100px;
		}
		.map{
			img{
				width:100%;
				height:auto;
			}
		}
		.team{
		    max-width: 920px;
		    margin-left: auto;
		    margin-right: auto;

		    .text-pos{
		    	max-width: 225px;

			    .team-text{
				    position: absolute;
					bottom: 10%;
			        margin-left: 3%;
    				margin-right: auto;
				    z-index: 1;
				    text-align: left;
					line-height: 17px;
					font-size: 14px;
					color: #FFFFFF;
			    }
			    img{
					width: 100%;
					height: auto;

					}
				.inwork{
					margin-left: auto;
				    margin-right: auto;
				    margin-top: 25%;
					font-size: 20.8px;
					text-align: center;
					color: #FFFFFF;
					span{
						line-height: 22px;
						font-size: 15px;
						text-align: center;
						color: #999999;
					}

				}

			}
		}
		.team  div[class^="col"] {
			text-align: center;
			padding: 2px;
		}
	}
}

.team-bg{
	background-image: url(../images/team-bac.png);
	background-repeat: no-repeat;
    background-size: 1300px;
    background-color: #060606;
}

@media (max-width: 990px){
	.page-body{
		.about-team{
		  .title{
		  	text-align: center;
		  	margin-left: 0px;

		  }
		  .description{
	  		text-align: center;
	  		margin-left: 0px;
		  }
		  .team{
			max-width: 460px;
			}
		}
		.team-bg{
		background-image: none;
		}
	}
}