.page-body{
	.featuredin{

		.title{
			font-size: 10px;
			color: #888;
			text-transform: uppercase;
		}
		img{
			display: block;
			max-width: 120px;
			width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}

	}
}

@media (min-width: 992px){
.page-body{
	.featuredin{
		img{
			display: block;
			max-width: none;
		}
	}
}
}