.page-body{
  .hero{
    position: relative;
    background-image: url(../images/back.png);
    background-color: #000;
    background-size: cover;
    display: table;
    width: 100%;

    .hero_wrapper{
      display: table-cell;
      vertical-align: middle;
      padding-top: 100px;
      padding-bottom: 115px;

      .title{
        font-size: 34px;
        line-height: 40px;
        max-width: 310px;
        color: #fff;
      }
      .description{
        font-size: 16px;
        line-height: 28px;
        max-width: 270px;
        color: #fff;
      }
      .inline-block{
        display: inline-block;

        .btn-pink{
          font-size: 12px;
          text-transform: capitalize;
        }
        .addition{
          font-size: 8px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: underline;
        }
      }

      .parent{
        position: relative;

        .video_button{
          &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 250px;
            width: 519px;
            height: 172px;
            background-image: url(../images/floating.png);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }



    .hero_footer{
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;

      a{
        color: #fff;
      }
    }

  }
}

@media (min-width: 992px){

  .page-body{
    .hero{
      .is-table-row>[class*='col-'] {
        vertical-align: middle;

        .title{
          font-size: 54px;
          line-height: 70px;
          max-width: none;
        }
        .description{
          font-size: 18px;
          line-height: 40px;
          max-width: none;
        }
        .inline-block{
          .btn-pink{
            font-size: 16px;
          }
        }
      }
    }
  }
}