.page-body{
	.testimonials{
		.testimonial{
			background-color: #000;
			margin-left: 30px;
			margin-right: 30px;
			padding: 35px 40px 25px;
			box-shadow: 20px 20px #FF0079;

			.text{
				font-size: 17px;
				line-height: 24px;
				color: #EBE8E8;
			}

			.testimonial_footer{
				&>*{
					float: left;
					height: 36px;
					line-height: 36px;

					.photo{
						border-radius: 100px;
						height: 100%;
						width: auto;
						margin-right: 15px;
					}
					.author{
						display: inline-block;
						vertical-align: bottom;
						font-size: 12px;
						line-height: 16px;
						color: #666;
					}
				}
			}

		}
	}
}

@media (min-width: 992px){
.page-body{
	.testimonials{
		.testimonial{
			margin-left: 30px;
			margin-right: 30px;

			.text{
				font-size: 21px;
				line-height: 36px;
			}

			.testimonial_footer{
				&>*{
					height: 72px;
					line-height: 72px;

					.photo{
						border-radius: 100px;
						height: 100%;
						width: auto;
						margin-right: 15px;
					}
					.author{
						font-size: 12px;
						line-height: 16px;
					}
				}
			}

		}
	}
}
}