.page-body{
  .video{
    .miniature{
      position: relative;
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #FF0079;

      img{
        width: 100%;
        height: auto;
      }
      
      &::after{
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        height: 76px;
        width: 88px;
        margin-top: -38px;
        margin-left: -44px;
        background-image: url(../images/play.png);
        background-size:  contain;
      }
      &:hover::after{
        transform: scale(1.2);
        transition: all .2s ease-in;
      }
    }
  }
}

@media (min-width: 992px){
  .page-body{
    .video{
      visibility: hidden;
      display: none;
    }
  }
}
