.page-footer{
  ul{
    display: inline-block;

    li{
      display: inline-block;
    }

    &.first{
      li{
        min-width: 65px;

        a{
          font-size: 13px;
          color: #fff;

          &:hover{
            color: #ff0079;
            text-decoration: none;
          }
        }
      }
    }
    &.second{
      li{
        min-width: 45px;

        .social{
          display: inline-block;
          width: 27px;
          height: 27px;
          border: 1px solid #FF0079;
          border-radius: 100px;

          i{
            color: #FF0079;
            font-size: 12px;
            margin-top: 6px;
          }

          &:hover{
            filter: grayscale(80%);

            i{
              filter: grayscale(80%);
            }
          }

        }
      }
    }
    &.third{
      li{
        min-width: 120px;
        font-size: 12px;
        color: #444;
      }
    }
  }

  form{
    input{
      height: 45px;
      width: 215px;
      max-width: 100%;
      background-color: transparent;
      border: 1px solid #222;
      padding: 15px 30px;
      font-size: 12px;
    }
    button{
      height: 45px;
      width: 90px;
      background-color: #141414;
      border: none;
      color: #888;
      font-size: 13px;

      &:hover{
        background-color: lighten(#141414,5%);
      }
    }
  }
}


@media (min-width: 992px){
  .page-footer{
    ul{
      &.first{
        li{
          min-width: 100px;
        }
      }
      &.second{
        li{
          min-width: 52px;
        }
      }
      &.third{
        li{
          min-width: 130px;
        }
      }
    }
    form{
      input{
        height: 45px;
        width: 415px;
        max-width: 100%;
        background-color: transparent;
        border: 1px solid #222;
        padding: 15px 30px;
        font-size: 12px;
      }
      button{
        height: 45px;
        width: 90px;
        background-color: #141414;
        border: none;
        color: #888;
        font-size: 13px;

        &:hover{
          background-color: lighten(#141414,5%);
        }
      }
    }
  }
}