.awesome-panel.panel-group{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  .panel{
    border: none;

    .panel-heading{
      border-bottom: 1px solid rgba(216, 216, 216, 0.25);

      .panel-title{
        font-size: 17px;
        line-height: 23px;

        a{
          position: relative;
          display: block;
          padding: 10px 35px 10px 0;
          text-decoration: none;

          &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 25px;
            background-image: url(../images/open.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
      &.expanded{
        border: none;

        .panel-title{
          a::after{
            background-image: url(../images/close.png);
          }
        }
      }
    }
    .panel-body{
      border-top: none;
      border-bottom: 1px solid rgba(216, 216, 216, 0.25);
      font-size: 18px;
      line-height: 30px;
      color: #999;
      padding-right: 35px;
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 992px){
  .awesome-panel.panel-group{
    max-width: 915px;

    .panel{
      .panel-heading{
        .panel-title{
          font-size: 22px;
          line-height: 30px;

          a{
            padding: 10px 100px 10px 0;

            &::after{
              width: 35px;
            }
          }
        }
      }
      .panel-body{
        border-top: none;
        border-bottom: 1px solid rgba(216, 216, 216, 0.25);
        font-size: 18px;
        line-height: 30px;
        color: #999;
        padding-right: 100px;
        padding-bottom: 35px;
      }
    }
  }
}